In [1]:
#Loading the file in dataframe
import pandas as pd
df = pd.read_csv("excel.csv")

In [2]:
df.describe()

           visitors      is_focus
count  93273.000000  93273.000000
mean       1.988895      0.000965
std        7.795197      0.031048
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.209937      0.000000
75%        1.049685      0.000000
max      300.000000      1.000000

In [3]:
# There are total 93,273 rows in our daa .

In [4]:
#LEt us check for duplicate rows
# displays the count of duplite rows
df.duplicated(subset=None, keep='first').sum()

37

In [5]:
# There are 37 duplicate rows in our raw data. LEt us remove them 
# dropping ALL duplicte values 
df.drop_duplicates(subset=None, keep='first', inplace = True)

In [6]:
df.describe()

           visitors      is_focus
count  93236.000000  93236.000000
mean       1.989671      0.000965
std        7.796646      0.031054
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.209937      0.000000
75%        1.049685      0.000000
max      300.000000      1.000000

In [7]:
# After dropping 37 duplicate rows, we are left with 93,236 rows

In [8]:
df.head()

   visit_date destinations    visitors language  is_focus
0  2019-03-01          aaa    6.508048       en         0
1  2019-04-01          aab    2.099370       en         0
2  2019-01-01          aac   44.086774       en         0
3  2018-05-01          aad    0.209937       en         0
4  2019-06-01          aae  100.349895       de         0

In [9]:
# Creating test and control group with test group having is_focus==1 and applying date filter
#to include the in first half of 2019

In [10]:
# subsetting df to get control group
control = df[(df.visit_date>="2019-01-01") & (df.visit_date<='2019-06-30')&(df.language=="en")&(df.is_focus==0)]

In [11]:
# subsetting df to get test group
test = df[(df.visit_date>="2019-01-01") & (df.visit_date<='2019-06-30')&(df.language=="en")&(df.is_focus==1)]

In [12]:
# grouping by measurement dates and getting average visitors on those dates for control group
control_stats=control.groupby(['visit_date'])['visitors'].mean().reset_index()
# renaming visitors column to vistors_control_group
control_stats.rename(columns={"visitors": "visitors_control_group"},inplace = True)
control_stats.head()

   visit_date  visitors_control_group
0  2019-01-01                3.563704
1  2019-02-01                2.960707
2  2019-03-01                3.143068
3  2019-04-01                3.097333
4  2019-05-01                2.751835

In [13]:
# grouping by measurement dates and getting average visitors on those dates for test group
test_stats=test.groupby(['visit_date'])['visitors'].mean().reset_index()
# renaming visitors column to vistors_test_group
test_stats.rename(columns={"visitors": "visitors_test_group"},inplace = True)
test_stats.head()

   visit_date  visitors_test_group
0  2019-01-01           100.349895
1  2019-02-01           115.381386
2  2019-03-01           108.621414
3  2019-04-01            97.620714
4  2019-05-01            89.139258

In [14]:
dfnew = pd.merge(control_stats, test_stats, on='visit_date', how='inner')
dfnew["Ratio_test_vs_contol"] = dfnew["visitors_test_group"]/dfnew["visitors_control_group"]
dfnew

,visit_date,visitors_control_group,visitors_test_group,Ratio_test_vs_contol
0,2019-01-01,3.563704,100.349895,28.158876
1,2019-02-01,2.960707,115.381386,38.970892
2,2019-03-01,3.143068,108.621414,34.559043
3,2019-04-01,3.097333,97.620714,31.517669
4,2019-05-01,2.751835,89.139258,32.392660
5,2019-06-01,2.564093,81.497551,31.784166

# Average visitors in test  is approx 98 visitors/day where as in control group it is 3 visitors/day
# Average visitors in test group are 28 to 38 times in comparision to control group. This is a large differnce.
# If we had date level aggregaion data on more number of dates rathar than just beginning of the month, we could also run t-test to test the significance of differance, which should be done when the differnace between two groups are smaller.
## n=6 is not large enough sample size to run t-test of significance

# In this particuler example, the diference in visitors is very high, so we may conculde that the campaign was successful even without running a significance test like t-test.